* {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}

body {
    background-color: cornsilk;
}

.container {
    padding: 50px;
    margin: 455px;
    border: 1px solid red;
    text-align: center;
    margin-top: 23px;
    background-color: rgb(198, 253, 235);
}

table {
    margin: auto;
}

input {
    border: 1px solid black;
    border-radius: 2px;
    font-size: 30px;
    height: 65px;
    width: 500px;
    padding: 10px;
}

button {
    border-radius: 2px;
    font-size: 40px;
    width: 100px;
    height: 90px;
    margin: 6px;
    cursor: pointer;
    background-color: rgb(182, 182, 182);
}

button:hover {
    background-color: aliceblue;
    transition: 0.3s;
}